{% extends 'base.html' %}


{% block header %}
  <h1>{% block title %}Create Journey{% endblock %}</h1>
{% endblock %}


{% block content %}

<main>
    <div class="container py-4">
      <header class="pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <span class="fs-4">Create a Journey</span>
        </a>
      </header>
  
      <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">Create your journey</h1>
          <p class="col-md-12 fs-4">Please give the details of your journey below. Total cost will be equally divided to the number of people joined to this journey.</p>
          
          <form method = "POST">
            <div class="row">
              <div class="col-md-2 mb-3">
              </div>
              <div class="col-md-4 mb-3">
                <label for="neighbourhood_id">From</label>
                <select class="custom-select d-block w-100" id="neighbourhood_id" name="neighbourhood_id" required>
                  <option selected="true" disabled="disabled">Please choose</option>
                    {% for store in stores %}
                        <option value="{{ store.id }}">{{ store.name }} , {{ store.address }}</option>
                    {% endfor %}
                </select>
              </div>
              <div class="col-md-4 mb-3">
                <label for="store_id">To</label>
                <select class="custom-select d-block w-100" id="store_id" name="store_id" required>
                  <option selected="true" disabled="disabled">Please choose</option>
                    {% for neighbourhood in neighbourhoods %}
                        <option value="{{ neighbourhood.id }}">{{ neighbourhood.name }}</option>
                    {% endfor %}
                </select>
              </div>
              <div class="col-md-2 mb-3">
              </div>
            </div>

            <div class="row">
                <div class="col-md-2 mb-3">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="cost">Total cost (in PLN, up to 500)</label>
                    <input type="number" id="cost" name="cost" min="0" max="500">
                    </select>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="passenger_limit">How many passengers? (1-4)</label>
                    <input type="number" id="passenger_limit" name="passenger_limit" min="1" max="4">
                    </select>
                </div>
                <div class="col-md-2 mb-3">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 mb-3">
                </div>
                <div class="col-md-8 mb-3">
                    <label for="note">Notes:</label>
                    <textarea class="form-control" id="note" name="note" placeholder="Please indicate your car plate, describe exact location of the starting point, and other important information here."></textarea>
                </div>
                <div class="col-md-2 mb-3">
                </div>

            </div>
            <br>
            <div class="row">
                <div class="col-md-2 mb-3">
                </div>
                <div class="col-md-8 mb-3 text-center">
                    <button class="btn btn-primary btn-lg" type="submit">Create</button>
                    <div class="form-text text-center">You will be redirected to the journey page.</div>
                </div>
                <div class="col-md-2 mb-3">
                </div>

            </div>


            
          </form>
        </div>
      </div>
      <div class="row align-items-md-stretch">
        <div class="col-md-12">
          <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h2>Want to check more alternatives?</h2>
            <p>You can go back to journey search anytime.</p>
            <a class="btn btn-outline-light" href="/search">Browse Journeys</a>
          </div>
        </div>
      </div>
  
      <footer class="pt-3 mt-4 text-muted border-top">
        &copy; 2021
      </footer>
    </div>
  </main>
  

{% endblock %}