{% extends 'base.html' %}


{% block header %}
  <h1>{% block title %}{{user.name}}'s Profile{% endblock %}</h1>
{% endblock %}


{% block content %}

<main>
    <div class="container py-4">
      <header class="pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <span class="fs-4">Profile Page</span>
        </a>
      </header>
  
      <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">{{user.name}} {{user.surname}}</h1>
          <p class="col-md-8 fs-4">{{user.email}}</p>
        </div>
      </div>
    {% if created_journeys|length > 0 %}
      <header class="pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <span class="fs-4">Journeys Created By {{ user.name }}</span>
        </a>
      </header>
      <div class="row align-items-md-stretch">
        
            {% for i in created_journeys  %}

                <div class="col-md-6">
                    <div class="h-100 p-5 text-white bg-dark rounded-3">
                        <h5>{{ i[1] }} -> {{ i[2] }}</h5>
                        <p><b>Cost:</b> {{ i[4]/i[5] }}</p>
                        <p>{{ i[3] }}</p>
                        <a class="btn btn-outline-light" href="/journey/{{ i[0] }}">Display this journey</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <br>
        <br>
    {% endif %}

    {% if joined_journeys|length > 0 %}
    
      <header class="pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <span class="fs-4">Journeys Joined By {{ user.name }}</span>
        </a>
      </header>
      <div class="row align-items-md-stretch">
        
            {% for i in joined_journeys  %}

                <div class="col-md-6">
                    <div class="h-100 p-5 text-white bg-dark rounded-3">
                        <h5>{{ i[1] }} -> {{ i[2] }}</h5>
                        <p><b>Cost:</b> {{ i[4]/i[5] }}</p>
                        <p>{{ i[3] }}</p>
                        <a class="btn btn-outline-light" href="/journey/{{ i[0] }}">Display journey</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
      
  
      <footer class="pt-3 mt-4 text-muted border-top">
        &copy; 2021
      </footer>
    </div>
  </main>
  

{% endblock %}